<style type="text/css">

@font-face {
    font-family: 'Nexa_Bold'; /*a name to be used later*/
    src: url('https:garga.ist/nexa/nexa_light-webfont.ttf'); /*URL to font*/
}

#lol{
    font-size: 25px;
    font-weight: bold;
    color: white;
    z-index: 1;
}

@media only screen and (orientation: landscape){
    #mynetwork {
      width: 50vw;600px;
      height: 93vh;400px;
      z-index: -1;
      position: absolute;
      /*border: 2px solid black;*/
      top: 9vh;
      left:0;
    }
    #right{
      position: absolute;
      right: 2%;
      font-size: 30px;
      color: black;
    }
}

@media only screen and (orientation: portrait){
    #mynetwork {
      width: 99vw;
      height: 65vh;
      z-index: -1;
      position: absolute;
      /*border: 2px solid black;*/
      left:0;
    }
    #right{
      position: absolute;
      bottom: 1%;
      font-size: 25px;
      font-weight: bold;
      color: black;
    }
}

.navbar {
    background-color: #7E0E13;#ff3333;
    position : fixed;
    top: 0;
    left: 0;
    width : 100vw;
    height: 8vh;
    z-index: 2;
    display: inline-block;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    vertical-align: middle;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#yech{
  position: absolute;
  top: 0;
  left: 0;
  width: 8vh;
  font-style : bold;
  font-family: Nexa_Bold;
  font-size: 4vh;
  color: white;
  margin-right: auto;
}
.flexy{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 9vh;
}
.github{
  background-image: url(github.svg);
  background-size:contain;
  background-repeat: no-repeat;
  order: 3;
  margin-right: 10px;
  width: 1vh;
  height: 1vh;
}
.linkedin{
  background-image: url(linkedin.svg);
  background-size:contain;
  background-repeat: no-repeat;
  order: 2;
  margin-right: 10px;
  width: 1vh;
  height: 1vh;
}
a.linkedin{
  text-align: right;
}
.flex_body{
  display: flex;
  align-content: stretch;
  flex-direction: column;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  width: 15vw;
  right: 10vw;
  top: 8vh;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  border: 0px solid black;
  z-index: 3;
  margin: 3px;
}
.show {
  display: block;
}
.menu_icon{
  background-image: url(menu.svg);
  background-size:contain;
  background-repeat: no-repeat;
  margin-right: 2vw;;
  float: left;
  color: #f2f2f2;
  text-decoration: none;
  font-family: Nexa_Bold;
  color: black;
  cursor: pointer;
}

</style>
