<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67954605-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-67954605-2');
</script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="I am Yunus Emre Çatalçam, a Machine Learning Developer, Embedded Software Developer.">
    <link rel="stylesheet" href={{ url_for('static', filename='master.css') }}>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link href={{ url_for('static',filename='netw_min.css')}} rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title>Yech | Yunus Emre Çatalçam | Software Developer </title>
</head>

<body>

    <div class="topnav" id="topnav">
        <div class="flex_box">
          <a class="header">Yech</a>
          <div class="dropdown" id="dropdown_cont">
             <button class="dropbtn" id="dropbtn" onclick="midmenu('myDropdown')">ls -l
               <i class="fa fa-caret-down"></i>
             </button>
             <div class="dropdown-content" id="myDropdown">
               <a href="https://github.com/yunusemrecatalcam">Github</a>
               <a href="https://www.linkedin.com/in/yunus-emre-çatalçam-a68239128">LinkedIn</a>
             </div>
         </div>

        </div>
    </div>
    <div class="all_container">
      <div id="mynetwork"></div>
      <div class="text_view">
          <h2>Flow</h2>
      <p>I am the one who interested in/passed through various things in the graph.</p>
      <p>More historically, I lived in Istanbul Ataturk High School
        of Science for 4 years. I started to find robotics interesting
        in the first year of high school. I met with programming,
        built some robots, met with PID
        as a result of a need. On third and fourth grade, we've worked on
        our race car as <a href="https://www.instagram.com/iaflelektrikliaraba/">
        a team born from the ground up.</a> I was started
        to thinking like <i>"Wow, it's so nice to having a racing team,
        so nice to crafting a car that we've designed on SolidWorks,
        so nice to having a garage that I can hug my car inside of it lol"</i></p>
      <p>After graduation, I started Control and Automation Engineering at Istanbul Technical
        University. As a racing lover, continued to the story with ITU Facilis Racing Team.
        Also started to work as an Embedded Software Developer at embdlab,
        the date was Jan 2018. I have started learning about learning
        (I mean Deep Learning) as a hobby these days.</p>

      <p>Another asynctask of me was developing a startup of us these days, RoboReferee.
         We received an acceptance to working at ITU Çekirdek (Incubator) with the
         presentation we made to them. We worked for a while on both business
         and the product sides as much as we can. Finally, we saw that this was the
         wrong sector since the football industry is too regulated for inserting a new product.
         As a person saw the probability of failing at first-trials much more than
         the following attempts, it wasn't so surprising to me. The important part
         was learning something from failure. <br>--classicalll</p>

       <p>I am currently working at <a href="http://vircongroup.com/">Vircon Group</a>
          as a Machine Learning Developer and at <a href="http://embdlab.com">Embdlab</a> as an Embedded Software Developer.</p>

       <p>As a personal project I am developing a website for the magazine we were
         publishing at High-School, <a href="https://garga.ist">GARGA</a> </p>
    </div>
    </div>
    <script src={{url_for('static', filename='main.js')}} type="text/javascript"></script>
    <script type="text/javascript" src={{url_for('static', filename='vis.js')}}></script>
    <script type="text/javascript" defer>
    function loadDaFun() {
     var script = document.createElement('script');
     script.src = './vis.js';
     var head = document.getElementsByTagName("head")[0];
     head.appendChild(script);
    }
      var nodes = new vis.DataSet([
        {id: 1, font:{size:30},label: 'Me',shape: 'circle',color: 'green'},

        {id: 2,shape: 'circle',label: 'Entrepreneur',color:'#ef5350'},
        {id: 20,shape: 'box',label: 'RoboReferee',color:'#E98074'},
        {id: 200, shape: 'circle',label: 'ITU Cekirdek',color:'#c0ca33'},
        {id: 21, shape: 'box',label: 'CodeUpAcademy',color:'#E98074'},

        {id: 3, shape: 'circle',label: 'Student',color:'#8860D0'},
        {id: 30, shape: 'box',label: 'ITU (Istanbul Technical University)',color:'#bb8eff'},
        {id: 300, shape: 'box',label: 'Control and Automation Engineering',color:'#bb8eff'},
        {id: 31,shape: 'circle', label: 'IAFL 17"',color:'#bb8eff'},

        {id: 4,shape: 'circle',color:'#5AB9EA' ,label: 'Software Developer'},
        {id: 40,shape: 'box', label: 'Embedded',color:'#5AB9EA' },
        {id: 41,shape: 'circle', label: 'XC8',color:'#5AB9EA' },
        {id: 42,shape: 'circle', label: 'nrf52',color:'#5AB9EA' },
        {id: 43,shape: 'box', label: 'Deep Learning',color:'#5AB9EA' },
        {id: 44,shape: 'circle', label: 'tensorflow',color:'#FB8C00' },

        {id: 5,shape: 'circle', label: 'Racing Enthusiast',color:'#757575'},
        {id: 50,shape: 'box', label: 'IAFL electric vehicle team',color:'#a4a4a4'},
        {id: 51,shape: 'box', label: 'ITU facilis vehicle team',color:'#a4a4a4'},

        {id: 6,shape: 'circle', label: 'Extrass',color:'#ffeb3b'},
        {id: 60,shape: 'circle', label: 'Rollerblade',color:'#ffff72'},
        {id: 61,shape: 'circle', label: 'Guitar',color:'#ffff72'},
        {id: 62,shape: 'circle', label: 'Karaoke',color:'#ffff72'},
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
        {from: 1, to: 3},
        {from: 1, to: 2},
        {from: 1, to: 4},
        {from: 1, to: 5},
        {from: 1, to: 6},

        {from: 2, to: 20},
        {from: 2, to: 21},
        {from: 20, to: 200},

        {from: 3, to: 30},
        {from: 3, to: 31},
        {from: 30, to: 300},

        {from: 4, to: 40},
        {from: 40, to: 41},
        {from: 40, to: 42},
        {from: 4, to: 43},
        {from: 43, to: 44},
        {from: 5, to: 50},
        {from: 5, to: 51},

        {from: 6, to: 60},
        {from: 6, to: 61},
        {from: 6, to: 62},
      ]);

      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        width: ($("#mynetwork").outerWidth(true)+"px"),
        height: (window.innerHeight - 150) + "px"
      };
      console.log("whattt");
      console.log(options);
      var network = new vis.Network(container, data, options);

      network.once("afterDrawing", function() {
        network.fit({
          animation: {
            duration: 1000,
            easingFunction: "easeOutQuart"
          }
        });
        if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          network.focus(1, {
            scale: 0.7
          });
            //window.alert("you lol");
        }

      });
    </script>
</body>
</html>
